.header-user.user__name {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}

.user-name.name__foto {
  background-image: url("./material/91.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3vw;
  height: 100%;
}

.user-name.name__text {
  color: #ffffff;
  font-family: "Arial - Bold MT";
  font-size: 1.3vw;
  font-weight: 400;
}
