.form-input.input__text {
  display: block;
  width: 100%;
  border-style: none;
  border-bottom: 0.19vh solid #fff;
  padding-bottom: 0.5vh;
  margin-bottom: 4.5vh;
  outline: none;
  background: inherit;
}

.form-input.input__text::placeholder {
  color: white;
}
