.productlist-header.header__search.search {
  position: fixed;
  width: 34.8%;
  left: 16.9vw;
  top: 1.76vw;
  cursor: pointer;
}

.header-search.search__input.input {
  width: 100%;
  border: none;
  border-bottom: 0.1vh solid #00b3be;
  position: relative;
  padding-left: 30px;
  outline: none;
}

.header-search.search__input::placeholder {
  color: #4a4a4a;
  font-family: "Arial MT";
  font-size: 1.3vw;
}

.header-search.search__input.input + label {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./material/fa-search.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
